node_modules/
dist/
build/
.expo/
.expo-shared/
*.log
*.tmp
.DS_Store
.vscode/
coverage/
ios/
android/
web-build/
*.tgz
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
*.swp
*.swo
*.orig
Thumbs.db
*.tsbuildinfo
